# Note that this is a sample configuration file.
# You should copy this file to .env and modify it to suit your needs.
# All variables must be prefixed with VITE_ to be available in the browser.
VITE_IP_ADDR=0.0.0.0
VITE_PORT=8080
VITE_LOGS_DIR=logs/
VITE_DB_HOST=127.0.0.1
VITE_DB_PORT=5433
VITE_DB_USER=pinsanity
VITE_DB_PASS=pinsanity
VITE_DB_NAME=pinsanity

VITE_MINIO_HOST=minio
VITE_MINIO_PORT=9000
VITE_MINIO_USER=minioUser
VITE_MINIO_PASS=minioPass

VITE_AUTH_DOMAIN=dev-3bjmrn5j71aoqrhy.us.auth0.com
VITE_AUTH_CLIENT=W03dWCj9CvwnamvjgAiAGCtWbjfoqr5r
VITE_AUTH_SECRET=V3kS8N0dbs4CrwfQmnjUrim0VmAKOJ0w68pG8KliByJuBGeE1lnos78dGah4tW4L
