* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gold: #ffc107;
  --white: #ffffff;
}

a {
  font-weight: 500;
  color: var(--gold);
  text-decoration: inherit;
}
a:hover {
  color: var(--white);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  top: 0; 
  height: 50px;
  width: 100%;
  background-color: black;
  border: 1px solid yellow;
}

#nav .loginStuff {
  border: 1px solid red;
}

#nav .userControls {
  border: 1px solid green;
  
}

#nav > .title {
  display: inline-block;
  font-size: large;
  margin-left: 1em;
}

#nav ul {
  list-style: none;
}



main {
  margin-top: 50px;
}



footer {
  position: absolute;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: black;
}

footer > div {
  font-size: small;
  text-align: center;
  width: 100%;
}